.logo {
  z-index: 100;
  display: inline-flex;
  align-items: center;
  margin-right: var(--scrollbar-width, 0px);
  margin-left: calc(48px - var(--scrollbar-width, 0px));
  padding: 16px;
}
.logoSvg {
  width: 136px;
  height: 16px;
  margin: 0;
  padding: 0;
  fill: #475467;
}
.logo:hover .logoSvg,
.logo:focus .logoSvg {
  fill: #d84343;
}
@media only screen and (min-width: 1472px) {
  .logo {
    margin-right: 0;
    margin-left: 48px;
  }
}
@media only screen and (max-width: 416px) {
  .logo {
    margin-left: 16px;
  }
}
