.nav {
  position: fixed;
  top: 0;
  left: 50%;
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 1440px;
  height: 72px;
  margin: 0 auto;
  background-color: #f7f7f7;
  font-size: 16px;
  transform: translateX(-50%);
}
@media only screen and (max-width: 693px) {
  .nav {
    justify-content: end;
    padding-right: 64px;
  }
}
@media only screen and (max-width: 450px) {
  .nav {
    padding-right: 0;
  }
}

.active {
  color: #d84343;
}

.link {
  padding: 24px 16px;
}
.link:hover {
  color: #e44848;
  text-decoration: underline;
}
