.heroContent {
  margin-left: 64px;
  color: #f7f7f7;
  font-weight: 600;
}

.heroTitle {
  margin-bottom: 16px;
  font-size: 48px;
  line-height: 0.67;
}

.heroP {
  margin-bottom: 40px;
  font-size: 24px;
  line-height: 1.33;
}

@media only screen and (max-width: 693px) {
  .heroTitle {
    line-height: 1.2;
  }
}
