.bookingForm {
  display: flex;
  flex-direction: column;
  gap: 14px;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 641px;
  height: 588px;
  padding: 44px 57px;
  border: 1px solid #dadde1;
  border-radius: 10px;
}
.titleBox {
  align-self: flex-start;
  margin-bottom: 10px;
}
.titleBox p {
  color: #6c717b;
}
.title {
  margin-bottom: 8px;
  font-size: 20px;
  line-height: 1.2;
}

.bookingForm input,
.bookingForm textarea {
  width: 527px;
  height: 60px;
  padding: 18px;
  border: 1px solid transparent;
  border-radius: 12px;
  background-color: #f7f7f7;
  outline: transparent;
}
.bookingForm textarea {
  height: 118px;
  margin-bottom: 10px;
  resize: none;
}
.bookingForm input::placeholder {
  color: #6c717b;
}
.bookingForm input:hover,
.bookingForm input:focus,
.bookingForm textarea:hover,
.bookingForm textarea:focus {
  border: 1px solid #ffc531;
}
