@import "modern-normalize/modern-normalize.css";
@import "react-datepicker/dist/react-datepicker.css";

body {
  margin-left: var(--scrollbar-width, 0px);
  background: #fff;
  color: #101828;
  font-weight: 400;
  font-size: 16px;
  font-family: "Inter", sans-serif;
  line-height: 1.5;
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

a {
  color: inherit;
  outline: transparent;
  text-decoration: none;
  transition: color 250ms ease-in-out;
}
a:focus {
  color: #e44848;
  /* text-decoration: overline; */
}

img {
  display: block;
  object-fit: cover;
  max-width: 100%;
  height: auto;
  margin: 0 auto;
}

button {
  padding: 0;
  border: transparent;
  background-color: transparent;
  outline: transparent;
  line-height: 0;
  cursor: pointer;
}

.btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  min-width: 166px;
  min-height: 56px;
  padding: 16px 10px;
  border-radius: 200px;
  background-color: #e44848;
  color: #fff;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: -0.01em;
  cursor: pointer;
}
.btn:hover,
.btn:focus {
  background-color: #d84343;
  color: #fff;
}

.btnWhite {
  border: 1px solid #dadde1;
  background-color: #fff;
  color: #101828;
  transition: border 250ms ease-in-out;
}
.btnWhite:hover,
.btnWhite:focus {
  border: 1px solid #d84343;
  background-color: #fff;
  color: #101828;
}

/* header styles */
header {
  position: sticky;
  top: -20px; /* for hiding */
  z-index: 1;
  max-width: 1440px;
  height: 72px;
  margin: 0 auto;
  background-color: #f7f7f7ee;
}
.headerContainer {
  position: sticky;
  top: 8px; /* half of header negative top-position */
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1440px;
  margin: 0 auto;
}
.hold168px {
  width: 168px;
}
/* end header styles */

/* Стилі календаря */
.react-datepicker__month-container {
  border-radius: 8px;
  background-color: #fff;
}
.react-datepicker__header {
  /* Заголовок */
  padding: 12px;
  background-color: #fff;
}
h2.react-datepicker__current-month {
  color: #101828;
  font-weight: 600;
  font-size: 16px;
}
.react-datepicker__navigation {
  /* Кнопки навігації */
  /* top: 12px; */
  color: #475467;
}
.react-datepicker__day-names {
  margin-top: 14px;
}
/* .react-datepicker__day-names {
  display: none; 
} */
.react-datepicker__day-name {
  /* Дні тижня */
  margin: 0;
  font-size: 0;
}
.react-datepicker__day-name::after {
  /* Кастомні дні тижня */
  /* width: 36px;
  line-height: 1.2;
  text-align: center;
  margin-bottom: 12px; */
  color: #475467;
  font-weight: 600;
  font-size: 12px;
  text-transform: uppercase;
}
.react-datepicker__day-name:nth-child(1)::after {
  content: "Mon";
}
.react-datepicker__day-name:nth-child(2)::after {
  content: "Tue";
}
.react-datepicker__day-name:nth-child(3)::after {
  content: "Wed";
}
.react-datepicker__day-name:nth-child(4)::after {
  content: "Thu";
}
.react-datepicker__day-name:nth-child(5)::after {
  content: "Fri";
}
.react-datepicker__day-name:nth-child(6)::after {
  content: "Sat";
}
.react-datepicker__day-name:nth-child(7)::after {
  content: "Sun";
}

.react-datepicker__month {
  color: #101828;
  font-weight: 400;
  font-size: 14px;
}
.react-datepicker__day {
  /* Дні місяця */
  width: 37px;
  margin: 0;
}
.react-datepicker__day--selected {
  /* Виділений день */
}
.react-datepicker__day:hover {
  /* Дні при наведенні */
  /* border-radius: 50%; */
  /* background-color: #0056b3; */
  /* color: white; */
}
.react-datepicker__day--today {
  /* Поточний день */
  border-radius: 50%;
  background-color: #475467;
  color: #f7f7f7;
  font-weight: 400;
  font-size: 14px;
  text-align: center;
}

/* input */
.react-datepicker-wrapper {
  /* border: 1px solid red; */
}
