@import "modern-normalize/modern-normalize.css";

body {
  background: #fff;
  color: #101828;
  font-weight: 400;
  font-size: 16px;
  font-family: "Inter", sans-serif;
  line-height: 1.5;
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

a {
  color: inherit;
  outline: transparent;
  text-decoration: none;
  transition: color 250ms ease-in-out;
}
a:focus {
  color: #e44848;
  /* text-decoration: overline; */
}

img {
  display: block;
  object-fit: cover;
  max-width: 100%;
  height: auto;
  margin: 0 auto;
}

button {
  padding: 0;
  border: transparent;
  background-color: transparent;
  outline: transparent;
  line-height: 0;
  cursor: pointer;
}

.btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  min-width: 166px;
  min-height: 56px;
  padding: 16px 10px;
  border-radius: 200px;
  background-color: #e44848;
  color: #fff;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: -0.01em;
  cursor: pointer;
}
.btn:hover,
.btn:focus {
  background-color: #d84343;
  color: #fff;
}

.btnWhite {
  border: 1px solid #dadde1;
  background-color: #fff;
  color: #101828;
}
.btnWhite:hover {
  border: 1px solid #d84343;
  background-color: #fff;
}
