.equipmentList {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  overflow-y: auto;
  margin-bottom: 24px;
}

.equipmentItem {
  display: flex;
  align-items: center;
  padding: 12px 18px;
  border-radius: 100px;
  background-color: #f2f4f7;
  mix-blend-mode: multiply;
}

.equipmentSvg {
  width: 20px;
  height: 20px;
  margin-right: 8px;
  fill: #101828;
  stroke: #101828;
  transition: stroke 150ms ease;
  transition: fill 150ms ease;
}
.equipmentItem:hover .equipmentSvg,
.filtersStylesItem:hover .equipmentSvg {
  fill: #ffc531;
  stroke: #ffc531;
}

/*  */
.filtersStylesList {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  justify-content: flex-start;
  align-items: flex-start;
}
.filtersStylesItem {
  display: flex;
  flex-direction: column;
  gap: 8px;
  justify-content: center;
  align-items: center;
  width: 112px;
  height: 96px;
  padding: 16px 18px;
  border: 1px solid #dadde1;
  border-radius: 12px;
  text-align: center;
  cursor: pointer;
  mix-blend-mode: multiply;
}
.filtersStylesItem .equipmentSvg {
  flex-shrink: 0;
  width: 32px;
  height: 32px;
  margin-right: 0;
}
.active {
  border: 1px solid #e44848;
}

/*  */

/*  */
.scrollbar {
  height: 104px;
}

.scrollbar::-webkit-scrollbar {
  width: 20px;
}
.scrollbar::-webkit-scrollbar-track {
  background-color: transparent;
}
.scrollbar::-webkit-scrollbar-thumb {
  background-image: url("../../img/scroll.png");
  background-size: 15px;
  background-repeat: no-repeat, no-repeat;
}
/*  */
